Repository kikuyodev/kumi, pull requests merged in 2023-11, with the labels that each got.

#2 File IO Handling
  Kumi.Game/Extensions/StringExtensions.cs
  Kumi.Game/IO/Formats/FileDecoder.cs
  Kumi.Game/IO/Formats/FileEncoder.cs
  Kumi.Game/IO/Formats/FileHandler.cs
  Kumi.Game/IO/Formats/IFileHandler.cs
  Kumi.Game/IO/LineBufferedReader.cs
  Kumi.Tests/IO/FileDecoderTests.cs
  Kumi.Tests/IO/FileEncoderTests.cs
  Kumi.Tests/IO/LineBufferedReaderTests.cs
  Kumi.Tests/Kumi.Tests.csproj
  Kumi.Tests/Resources/Formats/encoded_format_assert.tst
  Kumi.Tests/Resources/Formats/test_format.tst
  Kumi.Tests/TestResources.cs
Labels: size: xxl

#4 Create a store with assignable defaults backed by realm
  Kumi.Game/Database/IHasDefaults.cs
  Kumi.Game/Database/IRealmBackedDefaultStore.cs
  Kumi.Game/Database/RealmBackedDefaultStore.cs
  Kumi.Game/Tests/Database/TestModel.cs
  Kumi.Tests/Database/RealmBackedDefaultStoreTest.cs
Labels: type: behavioural, area: database, size: l

#5 Add default keybinds, and `GlobalActionContainer`
  Kumi.Game/Database/RealmAccess.cs
  Kumi.Game/Input/Bindings/Keybind.cs
  Kumi.Game/Input/Bindings/KeybindStore.cs
  Kumi.Game/Input/Bindings/RealmBackedKeyBindingContainer.cs
  Kumi.Game/Input/GameplayAction.cs
  Kumi.Game/Input/GlobalAction.cs
  Kumi.Game/Input/GlobalKeybindContainer.cs
  Kumi.Game/KumiGameBase.cs
Labels: blocked, area: input, type: behavioural, area: database, size: l

#7 Add screens that can hold backgrounds
  Kumi.Game/Graphics/Backgrounds/Background.cs
  Kumi.Game/Graphics/Backgrounds/BackgroundStack.cs
  Kumi.Game/Graphics/Containers/ParallaxContainer.cs
  Kumi.Game/KumiGame.cs
  Kumi.Game/KumiGameBase.cs
  Kumi.Game/Screens/Backgrounds/BackgroundScreen.cs
  Kumi.Game/Screens/Backgrounds/BackgroundScreenStack.cs
  Kumi.Game/Screens/KumiScreenStack.cs
  Kumi.Tests/Kumi.Tests.csproj
  Kumi.Tests/Resources/Images/Backgrounds/town.jpg
  Kumi.Tests/Resources/Images/Backgrounds/town2.jpg
  Kumi.Tests/TestResources.cs
  Kumi.Tests/Visual/Backgrounds/TestVisualBackgroundScreen.cs
Labels: type: behavioural, size: l, area: screens

#9 Fix tests and remove unused usings
  Kumi.Game/Charts/Chart.cs
  Kumi.Game/Charts/ChartInfo.cs
  Kumi.Game/Charts/Events/BreakTimeEvent.cs
  Kumi.Game/Charts/Events/DisplayLyricEvent.cs
  Kumi.Game/Charts/Events/SetMediaEvent.cs
  Kumi.Game/Charts/Events/SwitchMediaEvent.cs
  Kumi.Game/Charts/Formats/ChartDecoder.cs
  Kumi.Game/Charts/IChart.cs
  Kumi.Game/Charts/Objects/Balloon.cs
  Kumi.Game/Charts/Objects/DrumRoll.cs
  Kumi.Game/Charts/Objects/INote.cs
  Kumi.Game/Charts/Objects/Note.cs
  Kumi.Game/Charts/Timings/ITimingPoint.cs
  Kumi.Game/Charts/Timings/TimingPoint.cs
  Kumi.Game/Charts/Timings/TimingPointHandler.cs
  Kumi.Game/Database/ModelExporter.cs
  Kumi.Game/Tests/RealmTestGame.cs
  Kumi.Tests/Database/RealmTest.cs
  Kumi.Tests/Database/UserDataStorageTests.cs
  Kumi.Tests/IO/FileEncoderTests.cs
Labels: type: testing, size: m

#11 Add logos and animation for logo
  .gitignore
  Kumi.Game/Graphics/Sprites/LoadAnimation.cs
  Kumi.Game/KumiGameBase.cs
  Kumi.Resources/Shaders/.gitkeep
  Kumi.Resources/Shaders/sh_LoadAnimation.fs
  Kumi.Resources/Shaders/sh_LoadAnimation.vs
  Kumi.Resources/Textures/Logo/logo.png
  Kumi.Resources/Textures/Logo/logo_animation.png
  Kumi.Resources/Textures/Logo/logo_coloured.png
  Kumi.Tests/Visual/UserInterface/TestSceneLoadAnimation.cs
  Kumi.sln.DotSettings.user
Labels: zone: main menu, area: menu, size: l

#12 Add blur amount (along sliders in test scenes)
  Kumi.Game/Graphics/Backgrounds/BackgroundStack.cs
  Kumi.Game/Graphics/Containers/ParallaxContainer.cs
  Kumi.Tests/Visual/Backgrounds/TestVisualBackgroundScreen.cs
Labels: size: m

#14 Create foundation for a difficulty calculator
  Kumi.Game/Gameplay/Difficulty/CalculableNote.cs
  Kumi.Game/Gameplay/Difficulty/DifficultyCalculator.cs
  Kumi.Game/Gameplay/Difficulty/DifficultyResult.cs
  Kumi.Game/Gameplay/Difficulty/Objects/CalculableDrumNote.cs
  Kumi.Game/Gameplay/Difficulty/Skills/Skill.cs
  Kumi.Game/Gameplay/Difficulty/Skills/SkillResult.cs
  Kumi.Game/Gameplay/Difficulty/WorkingDifficultyCalculator.cs
Labels: area: difficulty, area: charts, size: l

#10 Create test workflow
  .github/workflows/test.yml
Labels: type: testing, size: m

#16 Add rudimentary playfield
  Kumi.Game/Charts/Chart.cs
  Kumi.Game/Charts/Objects/Windows/NoteHitResult.cs
  Kumi.Game/Charts/Objects/Windows/NoteWindows.cs
  Kumi.Game/Charts/WorkingChartCache.cs
  Kumi.Game/Gameplay/Clocks/GameplayClockContainer.cs
  Kumi.Game/Gameplay/Clocks/IGameplayClock.cs
  Kumi.Game/Gameplay/Drawables/DrawableNote.cs
  Kumi.Game/Gameplay/Drawables/NoteState.cs
  Kumi.Game/Gameplay/Judgements/Judgement.cs
  Kumi.Game/Gameplay/Playfield.cs
  Kumi.Game/Tests/TestWorkingChart.cs
  Kumi.Tests/TestResources.cs
  Kumi.Tests/Visual/Gameplay/PlayfieldTestScene.cs
  Kumi.Tests/Visual/KumiTestScene.cs
  Kumi.sln.DotSettings
Labels: area: gameplay, size: xl

#17 Add permissions to the CI
  .github/workflows/test.yml
Labels: type: testing, area: ci/tooling, size: xs

#19 Create scrolling playfield
  Kumi.Game/Gameplay/Algorithms/IScrollAlgorithm.cs
  Kumi.Game/Gameplay/Algorithms/LinearScrollAlgorithm.cs
  Kumi.Game/Gameplay/Drawables/DrawableNote.cs
  Kumi.Game/Gameplay/Playfield.cs
  Kumi.Game/Gameplay/ScrollingNoteContainer.cs
  Kumi.Game/Gameplay/ScrollingPlayfield.cs
  Kumi.Tests/Visual/Gameplay/GenericPlayfieldTestScene.cs
  Kumi.Tests/Visual/Gameplay/PlayfieldTestScene.cs
  Kumi.Tests/Visual/Gameplay/ScrollingPlayfieldTestScene.cs
Labels: area: gameplay, type: testing, size: xl

#21 Add taskbar and login flyout
  Kumi.Game/Graphics/Sprites/AvatarSprite.cs
  Kumi.Game/Graphics/Sprites/UpdateableAvatarSprite.cs
  Kumi.Game/Graphics/UserInterface/KumiButton.cs
  Kumi.Game/Graphics/UserInterface/KumiCheckbox.cs
  Kumi.Game/Graphics/UserInterface/KumiPasswordTextBox.cs
  Kumi.Game/Graphics/UserInterface/KumiTextBox.cs
  Kumi.Game/KumiGame.cs
  Kumi.Game/KumiGameBase.cs
  Kumi.Game/Overlays/Login/LoginPanel.cs
  Kumi.Game/Overlays/Login/LoginScreen.cs
  Kumi.Game/Overlays/Login/LoginScreenStack.cs
  Kumi.Game/Overlays/LoginOverlay.cs
  Kumi.Game/Overlays/MusicController.cs
  Kumi.Game/Overlays/Taskbar/TaskbarButton.cs
  Kumi.Game/Overlays/Taskbar/TaskbarIconButton.cs
  Kumi.Game/Overlays/Taskbar/TaskbarUserButton.cs
  Kumi.Game/Overlays/TaskbarOverlay.cs
  Kumi.Game/Screens/LoaderScreen.cs
  Kumi.Game/Screens/Menu/MenuScreen.cs
  Kumi.Tests/Visual/Overlays/TaskbarTestScene.cs
Labels: zone: main menu, area: menu, type: behavioural, size: xxl

#22 Implement basic song select
  Kumi.Game/Charts/Drawables/ChartBackgroundSprite.cs
  Kumi.Game/Database/RealmObjectUtils.cs
  Kumi.Game/Graphics/Backgrounds/BackgroundStack.cs
  Kumi.Game/Graphics/Backgrounds/ChartBackground.cs
  Kumi.Game/Screens/KumiScreen.cs
  Kumi.Game/Screens/Menu/MenuMusicOverlay.cs
  Kumi.Game/Screens/Menu/MenuScreen.cs
  Kumi.Game/Screens/Select/ChartSetInfoWedge.cs
  Kumi.Game/Screens/Select/ChartSetInfoWedgeBackground.cs
  Kumi.Game/Screens/Select/ChartSetInfoWedgeContent.cs
  Kumi.Game/Screens/Select/List/ChartListItem.cs
  Kumi.Game/Screens/Select/List/ChartSetListItem.cs
  Kumi.Game/Screens/Select/List/ListItemBackground.cs
  Kumi.Game/Screens/Select/List/ListItemGroup.cs
  Kumi.Game/Screens/Select/List/ListSelect.cs
  Kumi.Game/Screens/Select/SelectScreen.cs
  Kumi.Tests/Visual/Select/ChartListItemTestScene.cs
  Kumi.Tests/Visual/Select/ChartSetListItemTestScene.cs
  Kumi.Tests/Visual/Select/ListSelectTestScene.cs
Labels: zone: main menu, area: menu, size: xxl

#23 Add drum component
  Kumi.Game/Gameplay/UI/DrawableDrum.cs
  Kumi.Game/Graphics/Containers/ConstrictedScalingContainer.cs
  Kumi.Game/Input/GameplayAction.cs
  Kumi.Game/Input/GameplayKeybindContainer.cs
  Kumi.Resources/Textures/Gameplay/Drum/centre-hit.png
  Kumi.Resources/Textures/Gameplay/Drum/centre.png
  Kumi.Resources/Textures/Gameplay/Drum/rim-hit.png
  Kumi.Resources/Textures/Gameplay/Drum/rim.png
  Kumi.Tests/Visual/Gameplay/DrawableDrumTestScene.cs
Labels: area: gameplay, size: l

#25 Kumi playfield
  Kumi.Game/Charts/Objects/Windows/NoteWindows.cs
  Kumi.Game/Gameplay/Drawables/DrawableBigDrumHit.cs
  Kumi.Game/Gameplay/Drawables/DrawableDrumHit.cs
  Kumi.Game/Gameplay/Drawables/Parts/BigDrumHitPart.cs
  Kumi.Game/Gameplay/Drawables/Parts/DrumHitPart.cs
  Kumi.Game/Gameplay/KumiPlayfield.cs
  Kumi.Game/Gameplay/ScrollingNoteContainer.cs
  Kumi.Game/Gameplay/ScrollingPlayfield.cs
  Kumi.Tests/Visual/Gameplay/DrumHitPartTestScene.cs
  Kumi.Tests/Visual/Gameplay/GenericPlayfieldTestScene.cs
  Kumi.Tests/Visual/Gameplay/KumiPlayfieldTestScene.cs
  Kumi.Tests/Visual/Gameplay/ScrollingPlayfieldTestScene.cs
Labels: area: gameplay, size: xl
